USE [master]
GO
/****** Object:  Database [Projet Gestion BDD]    Script Date: 13/02/2020 23:28:43 ******/
CREATE DATABASE [Projet Gestion BDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Projet Gestion BDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Projet Gestion BDD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Projet Gestion BDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Projet Gestion BDD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Projet Gestion BDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Projet Gestion BDD]
GO
/****** Object:  Table [dbo].[Absence_Conge]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Absence_Conge](
	[ID_ABSENCE] [int] NOT NULL,
	[Date_DebutAbsence_Conge] [varchar](255) NULL,
	[Nbr_Jour] [int] NULL,
	[Justifie] [varchar](255) NULL,
 CONSTRAINT [PK_Absence_Conge] PRIMARY KEY CLUSTERED 
(
	[ID_ABSENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID_CLIENT] [int] NOT NULL,
	[Nom] [varchar](50) NULL,
	[Prenom] [varchar](50) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facture]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facture](
	[ID_FACTURE] [int] NOT NULL,
	[ID_CLIENT] [int] NULL,
	[Date_Facture] [varchar](50) NULL,
	[Type_Reglement] [varchar](50) NULL,
 CONSTRAINT [PK_Facture] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facture_detail]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facture_detail](
	[ID_Facture_Detail] [int] NOT NULL,
	[ID_PRODUIT] [int] NULL,
	[NbrProduit] [int] NULL,
	[ID_FACTURE] [int] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID_Facture_Detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formation]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formation](
	[ID_FORMATION] [int] NOT NULL,
	[Type_Formation] [varchar](250) NULL,
	[Date_Formation] [varchar](50) NULL,
	[Duree_Formation_Heure] [int] NULL,
 CONSTRAINT [PK_Formation] PRIMARY KEY CLUSTERED 
(
	[ID_FORMATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fournisseur]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fournisseur](
	[ID_FOURNISSEUR] [int] NOT NULL,
	[Nom] [varchar](50) NULL,
	[Adresse] [varchar](50) NULL,
	[Ville] [varchar](50) NULL,
	[Code_Postal] [int] NULL,
	[Tel] [varchar](50) NULL,
	[ID_PRODUIT] [int] NULL,
 CONSTRAINT [PK_Fournisseur] PRIMARY KEY CLUSTERED 
(
	[ID_FOURNISSEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeureSupl]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeureSupl](
	[ID_HEURES_SUPL] [int] NOT NULL,
	[Nbr_Heuresupl] [int] NULL,
	[Date] [varchar](255) NULL,
 CONSTRAINT [PK_HeureSupl] PRIMARY KEY CLUSTERED 
(
	[ID_HEURES_SUPL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Magasin]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magasin](
	[ID_MAGASIN] [int] NOT NULL,
	[Adresse_Magasin] [varchar](50) NULL,
	[Tel_Magasin] [varchar](50) NULL,
 CONSTRAINT [PK_Magasin] PRIMARY KEY CLUSTERED 
(
	[ID_MAGASIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnel]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnel](
	[ID_EMPLOYE] [int] NOT NULL,
	[Nom] [varchar](255) NULL,
	[Prenom] [varchar](255) NULL,
	[Date_Naissance] [varchar](255) NULL,
	[Num_Secu] [varchar](255) NULL,
	[Contrat] [varchar](25) NULL,
	[ID_MAGASIN] [int] NULL,
 CONSTRAINT [PK_Personnel] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLOYE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnel_Absence]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnel_Absence](
	[ID_PERSONNEL_ABSENCE] [smallint] NOT NULL,
	[ID_EMPLOYE] [int] NULL,
	[ID_ABSENCE] [int] NULL,
 CONSTRAINT [PK_Personnel_Absence] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONNEL_ABSENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnel_Formation]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnel_Formation](
	[ID_PERSONNEL_FORMATION] [int] NOT NULL,
	[ID_EMPLOYE] [int] NULL,
	[ID_FORMATION] [int] NULL,
 CONSTRAINT [PK_Personnel_Formation] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONNEL_FORMATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prime]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prime](
	[ID_PRIME] [int] NOT NULL,
	[Montant] [int] NULL,
	[Motif] [varchar](255) NULL,
	[ID_EMPLOYE] [int] NULL,
 CONSTRAINT [PK_Prime] PRIMARY KEY CLUSTERED 
(
	[ID_PRIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 13/02/2020 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[ID_PRODUIT] [int] NOT NULL,
	[Nom] [varchar](50) NULL,
	[Prix] [int] NULL,
	[Qte_Stock] [int] NULL,
	[Categorie] [varchar](50) NULL,
	[ID_MAGASIN] [int] NULL,
 CONSTRAINT [PK_Produit] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Absence_Conge] ([ID_ABSENCE], [Date_DebutAbsence_Conge], [Nbr_Jour], [Justifie]) VALUES (1, N'08/03/1990', 5, N'Y')
INSERT [dbo].[Absence_Conge] ([ID_ABSENCE], [Date_DebutAbsence_Conge], [Nbr_Jour], [Justifie]) VALUES (2, N'10/30/1985', 4, N'Y')
INSERT [dbo].[Absence_Conge] ([ID_ABSENCE], [Date_DebutAbsence_Conge], [Nbr_Jour], [Justifie]) VALUES (3, N'11/24/1998', 2, N'Y')
GO
INSERT [dbo].[Client] ([ID_CLIENT], [Nom], [Prenom]) VALUES (1, N'Rivers', N'Vincent')
INSERT [dbo].[Client] ([ID_CLIENT], [Nom], [Prenom]) VALUES (2, N'Dean', N'Quail')
INSERT [dbo].[Client] ([ID_CLIENT], [Nom], [Prenom]) VALUES (3, N'Guerrero', N'Vivien')
GO
INSERT [dbo].[Facture] ([ID_FACTURE], [ID_CLIENT], [Date_Facture], [Type_Reglement]) VALUES (1, 1, N'4/30/2019', N'Carte')
INSERT [dbo].[Facture] ([ID_FACTURE], [ID_CLIENT], [Date_Facture], [Type_Reglement]) VALUES (2, 2, N'7/22/2019', N'Carte')
INSERT [dbo].[Facture] ([ID_FACTURE], [ID_CLIENT], [Date_Facture], [Type_Reglement]) VALUES (3, 3, N'8/8/2019', N'Carte')
GO
INSERT [dbo].[Facture_detail] ([ID_Facture_Detail], [ID_PRODUIT], [NbrProduit], [ID_FACTURE]) VALUES (1, 27, 2, 1)
INSERT [dbo].[Facture_detail] ([ID_Facture_Detail], [ID_PRODUIT], [NbrProduit], [ID_FACTURE]) VALUES (2, 45, 4, 2)
INSERT [dbo].[Facture_detail] ([ID_Facture_Detail], [ID_PRODUIT], [NbrProduit], [ID_FACTURE]) VALUES (3, 398, 2, 3)
GO
INSERT [dbo].[Formation] ([ID_FORMATION], [Type_Formation], [Date_Formation], [Duree_Formation_Heure]) VALUES (1, N'Management', N'10/03/16', 2)
INSERT [dbo].[Formation] ([ID_FORMATION], [Type_Formation], [Date_Formation], [Duree_Formation_Heure]) VALUES (2, N'Management', N'03/13/19', 57)
INSERT [dbo].[Formation] ([ID_FORMATION], [Type_Formation], [Date_Formation], [Duree_Formation_Heure]) VALUES (3, N'Management', N'09/27/20', 20)
GO
INSERT [dbo].[Fournisseur] ([ID_FOURNISSEUR], [Nom], [Adresse], [Ville], [Code_Postal], [Tel], [ID_PRODUIT]) VALUES (1, N'Kautzer LLC', N'64 Blaine Terrace', N'Kikinda', 4800, N'7088630777', 133)
INSERT [dbo].[Fournisseur] ([ID_FOURNISSEUR], [Nom], [Adresse], [Ville], [Code_Postal], [Tel], [ID_PRODUIT]) VALUES (2, N'Goldner, Schulist and O''Keefe', N'25 Annamark Circle', N'Solna', 17066, N'4585044981', 640)
INSERT [dbo].[Fournisseur] ([ID_FOURNISSEUR], [Nom], [Adresse], [Ville], [Code_Postal], [Tel], [ID_PRODUIT]) VALUES (3, N'Barton-Huel', N'79548 Nevada Circle', N'Santiago del Estero', 4200, N'8613617546', 783)
INSERT [dbo].[HeureSupl] ([ID_HEURES_SUPL], [Nbr_Heuresupl], [Date]) VALUES (1, 1, N'06/11/2019')
INSERT [dbo].[HeureSupl] ([ID_HEURES_SUPL], [Nbr_Heuresupl], [Date]) VALUES (2, 3, N'02/06/2020')
INSERT [dbo].[HeureSupl] ([ID_HEURES_SUPL], [Nbr_Heuresupl], [Date]) VALUES (3, 3, N'19/11/2019')
GO
INSERT [dbo].[Magasin] ([ID_MAGASIN], [Adresse_Magasin], [Tel_Magasin]) VALUES (1, N'P.O. Box 454, 3308 Suspendisse St.', N'03 67 76 14 10')
INSERT [dbo].[Magasin] ([ID_MAGASIN], [Adresse_Magasin], [Tel_Magasin]) VALUES (2, N'P.O. Box 881, 8635 Pulvinar Av.', N'07 97 41 58 85')
INSERT [dbo].[Magasin] ([ID_MAGASIN], [Adresse_Magasin], [Tel_Magasin]) VALUES (3, N'891-7400 Vivamus Ave', N'08 79 61 13 27')
INSERT [dbo].[Personnel] ([ID_EMPLOYE], [Nom], [Prenom], [Date_Naissance], [Num_Secu], [Contrat], [ID_MAGASIN]) VALUES (1, N'Gould', N'Lee', N'10/20/1968', N'5909778273187', N'CDI', 4)
INSERT [dbo].[Personnel] ([ID_EMPLOYE], [Nom], [Prenom], [Date_Naissance], [Num_Secu], [Contrat], [ID_MAGASIN]) VALUES (2, N'Herrera', N'Yoshio', N'04/11/1954', N'9084768590708', N'CDI', 13)
INSERT [dbo].[Personnel] ([ID_EMPLOYE], [Nom], [Prenom], [Date_Naissance], [Num_Secu], [Contrat], [ID_MAGASIN]) VALUES (3, N'Montgomery', N'Kermit', N'01/31/1992', N'4881240361343', N'CDI', 6)
GO
INSERT [dbo].[Personnel_Absence] ([ID_PERSONNEL_ABSENCE], [ID_EMPLOYE], [ID_ABSENCE]) VALUES (1, 280, 1)
INSERT [dbo].[Personnel_Absence] ([ID_PERSONNEL_ABSENCE], [ID_EMPLOYE], [ID_ABSENCE]) VALUES (2, 346, 2)
INSERT [dbo].[Personnel_Absence] ([ID_PERSONNEL_ABSENCE], [ID_EMPLOYE], [ID_ABSENCE]) VALUES (3, 398, 3)
GO
INSERT [dbo].[Personnel_Formation] ([ID_PERSONNEL_FORMATION], [ID_EMPLOYE], [ID_FORMATION]) VALUES (1, 68, 1)
INSERT [dbo].[Personnel_Formation] ([ID_PERSONNEL_FORMATION], [ID_EMPLOYE], [ID_FORMATION]) VALUES (2, 89, 2)
INSERT [dbo].[Personnel_Formation] ([ID_PERSONNEL_FORMATION], [ID_EMPLOYE], [ID_FORMATION]) VALUES (3, 185, 3)
GO
INSERT [dbo].[Prime] ([ID_PRIME], [Montant], [Motif], [ID_EMPLOYE]) VALUES (1, 1017, N'Bon travail', 1)
INSERT [dbo].[Prime] ([ID_PRIME], [Montant], [Motif], [ID_EMPLOYE]) VALUES (2, 1036, N'Bon travail', 2)
INSERT [dbo].[Prime] ([ID_PRIME], [Montant], [Motif], [ID_EMPLOYE]) VALUES (3, 917, N'Bon travail', 3)
GO
INSERT [dbo].[Produit] ([ID_PRODUIT], [Nom], [Prix], [Qte_Stock], [Categorie], [ID_MAGASIN]) VALUES (1, N'Juice - Propel Sport', 11, 300, N'Beauty', 7)
INSERT [dbo].[Produit] ([ID_PRODUIT], [Nom], [Prix], [Qte_Stock], [Categorie], [ID_MAGASIN]) VALUES (2, N'Wine - Cave Springs Dry Riesling', 6, 349, N'Garden', 13)
INSERT [dbo].[Produit] ([ID_PRODUIT], [Nom], [Prix], [Qte_Stock], [Categorie], [ID_MAGASIN]) VALUES (3, N'Mix - Cocktail Ice Cream', 27, 458, N'Beauty', 25)
GO
ALTER TABLE [dbo].[Facture]  WITH CHECK ADD  CONSTRAINT [FK_Facture_Client] FOREIGN KEY([ID_CLIENT])
REFERENCES [dbo].[Client] ([ID_CLIENT])
GO
ALTER TABLE [dbo].[Facture] CHECK CONSTRAINT [FK_Facture_Client]
GO
ALTER TABLE [dbo].[Facture_detail]  WITH CHECK ADD  CONSTRAINT [FK_Facture_detail_Facture] FOREIGN KEY([ID_FACTURE])
REFERENCES [dbo].[Facture] ([ID_FACTURE])
GO
ALTER TABLE [dbo].[Facture_detail] CHECK CONSTRAINT [FK_Facture_detail_Facture]
GO
ALTER TABLE [dbo].[Facture_detail]  WITH CHECK ADD  CONSTRAINT [FK_Facture_detail_Produit] FOREIGN KEY([ID_PRODUIT])
REFERENCES [dbo].[Produit] ([ID_PRODUIT])
GO
ALTER TABLE [dbo].[Facture_detail] CHECK CONSTRAINT [FK_Facture_detail_Produit]
GO
ALTER TABLE [dbo].[Fournisseur]  WITH CHECK ADD  CONSTRAINT [FK_Fournisseur_Fournisseur] FOREIGN KEY([ID_FOURNISSEUR])
REFERENCES [dbo].[Fournisseur] ([ID_FOURNISSEUR])
GO
ALTER TABLE [dbo].[Fournisseur] CHECK CONSTRAINT [FK_Fournisseur_Fournisseur]
GO
ALTER TABLE [dbo].[Fournisseur]  WITH CHECK ADD  CONSTRAINT [FK_Fournisseur_Fournisseur1] FOREIGN KEY([ID_FOURNISSEUR])
REFERENCES [dbo].[Fournisseur] ([ID_FOURNISSEUR])
GO
ALTER TABLE [dbo].[Fournisseur] CHECK CONSTRAINT [FK_Fournisseur_Fournisseur1]
GO
ALTER TABLE [dbo].[Fournisseur]  WITH CHECK ADD  CONSTRAINT [FK_Fournisseur_Produit] FOREIGN KEY([ID_PRODUIT])
REFERENCES [dbo].[Produit] ([ID_PRODUIT])
GO
ALTER TABLE [dbo].[Fournisseur] CHECK CONSTRAINT [FK_Fournisseur_Produit]
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD  CONSTRAINT [FK_Personnel_Magasin] FOREIGN KEY([ID_MAGASIN])
REFERENCES [dbo].[Magasin] ([ID_MAGASIN])
GO
ALTER TABLE [dbo].[Personnel] CHECK CONSTRAINT [FK_Personnel_Magasin]
GO
ALTER TABLE [dbo].[Personnel_Absence]  WITH CHECK ADD  CONSTRAINT [FK_Personnel_Absence_Personnel] FOREIGN KEY([ID_EMPLOYE])
REFERENCES [dbo].[Personnel] ([ID_EMPLOYE])
GO
ALTER TABLE [dbo].[Personnel_Absence] CHECK CONSTRAINT [FK_Personnel_Absence_Personnel]
GO
ALTER TABLE [dbo].[Personnel_Absence]  WITH CHECK ADD  CONSTRAINT [FK_Personnel_Absence_Personnel_Absence] FOREIGN KEY([ID_ABSENCE])
REFERENCES [dbo].[Absence_Conge] ([ID_ABSENCE])
GO
ALTER TABLE [dbo].[Personnel_Absence] CHECK CONSTRAINT [FK_Personnel_Absence_Personnel_Absence]
GO
ALTER TABLE [dbo].[Personnel_Formation]  WITH CHECK ADD  CONSTRAINT [FK_Personnel_Formation_Formation] FOREIGN KEY([ID_FORMATION])
REFERENCES [dbo].[Formation] ([ID_FORMATION])
GO
ALTER TABLE [dbo].[Personnel_Formation] CHECK CONSTRAINT [FK_Personnel_Formation_Formation]
GO
ALTER TABLE [dbo].[Personnel_Formation]  WITH CHECK ADD  CONSTRAINT [FK_Personnel_Formation_Personnel] FOREIGN KEY([ID_EMPLOYE])
REFERENCES [dbo].[Personnel] ([ID_EMPLOYE])
GO
ALTER TABLE [dbo].[Personnel_Formation] CHECK CONSTRAINT [FK_Personnel_Formation_Personnel]
GO
ALTER TABLE [dbo].[Prime]  WITH CHECK ADD  CONSTRAINT [FK_Prime_Personnel] FOREIGN KEY([ID_EMPLOYE])
REFERENCES [dbo].[Personnel] ([ID_EMPLOYE])
GO
ALTER TABLE [dbo].[Prime] CHECK CONSTRAINT [FK_Prime_Personnel]
GO
ALTER TABLE [dbo].[Produit]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Magasin] FOREIGN KEY([ID_MAGASIN])
REFERENCES [dbo].[Magasin] ([ID_MAGASIN])
GO
ALTER TABLE [dbo].[Produit] CHECK CONSTRAINT [FK_Produit_Magasin]
GO
USE [master]
GO
